* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
body{
    font-family: sans-serif;
    color:skyblue
}
a{
    text-decoration: none;
    color:rgb(215, 221, 221);
}
a:hover {
    color:blue;
    transition: all 250ms;
}
.navbar{
    background-color: rgb(155, 196, 155);
    position: fixed;
    width:100%;
    heidht:60px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
    -webkit-box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 0px  10px 13px -7px #000000,5px 5px 15px 5px rgba(0, 0, 0, 0);
}
.logo-main-title{
    font-size: 25px;
    font-style:italic;
    border-bottom: #726e76 4px solid;
}
.logo-title{
    color:#892cdc;
}
.title-link{
    color:aquamarine;
}
.list-section{
    width:50%;
}
.list-wrap{
    display: flex;
    justify-content: space-evenly;
}
.list-item{
    list-style: none;
    padding: 5px;
    border-radius:8px;
}
.list-item:hover {
    background-color: rgb(97, 81, 89);
    cursor: pointer;
    transition: all 250ms;
}
.hire-btn{
    width:120px;
    height:35px;
    border: none;
    background:khaki;
    -webkit-box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 0px  10px 13px -7px #000000,5px 5px 15px 5px rgba(0, 0, 0, 0);
}
.hire-btn:hover{
    cursor:pointer;
    transform: scale(1.1);
    transition: all 250ms;
}